<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="google-site-verification" content="qlIHK9zdW6gYT8NE0GCD3D_7M-NSbv0ofpO16ht9Xhg" />
    <title>Fancy Images</title>
    <link href="https://fonts.googleapis.com/css?family=Muli|Quicksand|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/bulma.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/bootstrap.css" type="text/css">
    <script src="/assets/js/flicky.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(".hover").mouseleave(
        function () {
          $(this).removeClass("hover");
        }
      );
      // IMAGES
      $(document).on('mousemove', function(e){
        $('.light').css({
           left:  e.pageX - 300,
           top:   e.pageY - 300
        });
      });

      var el = $('.js-tilt-container');

      el.on('mousemove', function(e){
      const {left, top} = $(this).offset();
      const cursPosX = e.pageX - left;
      const cursPosY = e.pageY - top;
      const cursFromCenterX = $(this).width() / 2 - cursPosX;
      const cursFromCenterY = $(this).height() / 2 - cursPosY;


      $(this).css('transform','perspective(500px) rotateX('+ (cursFromCenterY / 40) +'deg) rotateY('+ -(cursFromCenterX / 40) +'deg) translateZ(10px)');

      const invertedX = Math.sign(cursFromCenterX) > 0 ? -Math.abs( cursFromCenterX ) : Math.abs( cursFromCenterX );

      //Parallax transform on image
      $(this).find('.js-perspective-neg').css('transform','translateY('+ ( cursFromCenterY / 10) +'px) translateX('+ -(invertedX  / 10) +'px) scale(1.15)');

      $(this).removeClass('leave');
      });

      el.on('mouseleave', function(){
      $(this).addClass('leave');
      });
      document.addEventListener('DOMContentLoaded', function () {

      // Get all "navbar-burger" elements
      var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

      // Check if there are any navbar burgers
      if ($navbarBurgers.length > 0) {

        // Add a click event on each of them
        $navbarBurgers.forEach(function ($el) {
          $el.addEventListener('click', function () {

            // Get the target from the "data-target" attribute
            var target = $el.dataset.target;
            var $target = document.getElementById(target);

            // Toggle the class on both the "navbar-burger" andgit  the "navbar-menu"
            $el.classList.toggle('is-active');
            $target.classList.toggle('is-active');

          });
        });
      }

      });
    </script>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
    </style>
    <style media="screen">
      .small {
        width: 100px;
      }
    </style>
  </head>
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/id_ID/sdk.js#xfbml=1&version=v2.11&appId=351979128600634';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div id="images">
      <!-- NAVIGATION BAR -->
      <div class="tabs is-centered is-boxed is-medium">
        <ul>
          <li>
            <span class="title">images<i class="fa fa-ravelry fa-2x"></i> fancy</span>
          </li>
        </ul>
      </div>
      <div class="card info-color text-center z-depth-2">
             <div class="card-body" style="text-align: center">
                 <p class="white-text mb-0">Ever wondered where you took all your great photos? Or want to know where one specific photo was shot? No problem with ImagesFancy!</p>
                  <ul>
                    <li>View all your photos and videos on the world map</li>
                    <li>Show your pictures and their recording locations in a great slideshow</li>
                    <li>Add geotags to your photos and edit existing ones</li>
                  </ul>
             </div>
         </div>
    <div class="columns is-centered">

        <div class="column is-8">
          <div class="tile is-parent">
            <article class="tile is-child">
              <google-map :center.sync="center" :zoom.sync="7" map-type-id="terrain" style="width: 100%; height: 700px">
               <google-marker v-for="m in markers"  :position.sync="m.position" :icon.sync="m.icon" :clickable="true" @click="say(m.url)"></google-marker>
              </google-map>
            </article>
          </div>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child notification">
              <div v-if="active">
                <span class="image-shadow js-tilt-container" :style="{ 'background-image': 'url(' + url + ')' }">

                </span>
                <span class="light"></span>
                <br/>
                <div class="fb-comments" data-href="#" data-width="200px" data-numposts="5"></div>
                <!-- SHARE -->
                 <div class="dropdown">
                   <a class="button is-info" type="button" name="button">Share</a>
                   <div class="dropdown-content">
                       <div id="share-buttons" style="text-align:center">
                       <!-- Facebook -->
                       <a :href="facebook" target="_blank">
                           <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
                       </a>

                       <!-- Google+ -->
                       <a :href="google" target="_blank">
                           <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
                       </a>

                       <!-- LinkedIn -->
                       <a :href="linkedln" target="_blank">
                           <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
                       </a>

                       <!-- Reddit -->
                       <a :href="reddit" target="_blank">
                           <img src="https://simplesharebuttons.com/images/somacro/reddit.png" alt="Reddit" />
                       </a>

                       <!-- Tumblr-->
                       <a :href="tumblr" target="_blank">
                           <img src="https://simplesharebuttons.com/images/somacro/tumblr.png" alt="Tumblr" />
                       </a>

                       <!-- Twitter -->
                       <a :href="twitter" target="_blank">
                           <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
                       </a>

                   </div>
                   </div>
                 </div>
                 <a class="button is-primary" :href="url" :download="url">Download</a>
              </div>
            </article>
          </div>
        </div>
      </div>
        <!-- FOOTER -->
        <footer class="footer">
          <div class="container">
            <div class="content has-text-centered">
              <p>
                <strong>BoostBulma</strong> by Azhari & Ilham.
              </p>
            </div>
          </div>
        </footer>

    </div>
    <script src="assets/js/vue-google-maps.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.js"></script>
    <script src="assets/js/datavue.js" type="text/javascript"></script>
  </body>
</html>
